body {
	background-color: rgba(105,105,105,0.3);
	margin-top: 50px;	
}
.sidebar-nav {
	margin-top: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li a {
	color: teal;
}

p a {
	color: dodgerblue;
}
